.extractos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  justify-content: flex-start; 
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px; 
}

