.pin-container{
  background-color: #428457;
  min-width: 250px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9ad69c;
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  letter-spacing: 10px;
  border: solid 6px;
  border-color: #085a08;
  border-radius: 20px;
}