.amount{
  min-width: 220px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  letter-spacing: 10px;
  border: solid 2px;
  border-color: rgb(235, 160, 22);
  border-radius: 20px;
}