.div-horizontal {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.balance {
    font-size: 78px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}