.div-horizontal {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.balance {
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}