.buttons-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ver-en-pantalla-container {
  background-color: rgb(51, 175, 195); 
  width: 45vw;
  height: 45vh;
  display: flex;
  padding: 10px;
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.ver-en-pantalla-text {
  font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
    padding: 0;
    width: 40vw;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    /* text-decoration: underline; */
}
.divider {
  width: 40vw;
  height: 2px;
  background-color: #3a1169;
  margin: 10px 0;
}