#root {
  /* background-color: blueviolet; */
  width: 70vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: #fff;
}

.title-atm{
  /* background-color: aqua; */
  font-size: 3rem;
  margin: 0;
  padding: 0;
}