#root {
  /* background-color: blueviolet; */
  width: 70vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  /* overflow: hidden; */
}

.title-atm{
  /* background-color: aqua; */
  user-select: none;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
